@media (min-width: 820px) {
    .wrapper {
        max-width: 70%;
    }
    .header {
        font-size: 3rem;
    }
    .accordion__name {
        font-size: 2rem;
    }
    .accordion__content_img {
        max-height: 25vh;
    }
}
@media (min-width: 1920px) {
    .wrapper {
        max-width: 60%;
    }
    .header {
        font-size: 4rem;
    }
    .accordion__name {
        font-size: 3rem;
    }
}
@media (hover: hover) {
    .accordion:hover .accordion__content {
        max-height: 30vh;
        display: block;
        transition: max-height 1s ease-in-out;

    }
    .wrapper:not(:hover) .accordion .accordion__radio:not(:checked) ~ .accordion__wrapper .accordion__name {
        color: rgb(80, 94, 255);
        transition: color 0.5s ease-in-out;
    }
    .accordion__radio:not(:checked):hover ~ .accordion__wrapper {
        background-color: rgb(235, 183, 183);
        border-radius: 2rem 2rem 0 0;
        transition: background-color 0.5s ease-in-out;

    }
    .accordion__radio:active ~ .accordion__wrapper {
        color: rgb(80, 94, 255);
        transition: color 0s;
    }
    .accordion__radio:hover ~ .accordion__wrapper > .arrow {
        transform: rotate(-90deg);
        transition: transform 1s ease-in-out;
    }
    .accordion:hover > .accordion__content .accordion__content_img {
        opacity: 1;
    }
}
