.accordion {
    display: block;
    font-weight: 300;
    background-color: #ffffff;
    border-radius: 3rem;
    border-bottom: 0.5rem solid $main-color-text;
    cursor: url('../assets/icons/cursor.png'), auto;
}

// .accordion:active {
//     cursor: url('../assets/icons/active-cursor.png'), auto;
// }

.accordion__radio {
    display: none;
}

.accordion__name {
    font-size: 2rem;
    width: 100%;
    padding-left: 40px;
    @include media-tablet {
        font-size: 3rem;
    }
    @include media-desktop {
        font-size: 4rem;
    }
}

.accordion__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
    &_img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        max-height: 20vh;
        opacity: 0;
        transition: opacity 1s ease-in-out;
        @include media-tablet {
            max-height: 25vh;
        }
    }
}

.accordion__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    color: $main-color-text;
    transition: color .5s ease-in-out;
}

//Changed selectors
.accordion__radio:checked ~ .accordion__content {
    max-height: 30vh;
}

.accordion:hover .accordion__content {
    max-height: 30vh;
    display: block;
    transition: max-height 1s ease-in-out;
}



.wrapper:not(:hover) .accordion .accordion__radio:not(:checked) ~ .accordion__wrapper .accordion__name {
    color: $color-text-not-hover;
    transition: color .5s ease-in-out;
}

.accordion__radio:checked ~ .accordion__wrapper .arrow {
    transform: rotate(-90deg);
}

.accordion__radio:hover ~ .accordion__wrapper {
    background-color: $hover-background-color;
    border-radius: 3rem 3rem 0 0;
    transition: background-color .5s ease-in-out;
}

.accordion__radio:checked ~ .accordion__wrapper {
    color: $main-color-text;
    background-color: $checked-background-color;
    border-radius: 3rem 3rem 0 0;
}

.accordion__radio:active ~ .accordion__wrapper {
    color: $color-text-not-hover;
}

.accordion__radio:active ~ .accordion__wrapper {
    cursor: url('../assets/icons/active-cursor.png'), auto;
}

.accordion__radio:active ~ .accordion__content {
    filter: drop-shadow(0 0 1rem $color-text-not-hover);
    transition: filter 0.1s ease-in-out;
    cursor: url('../assets/icons/active-cursor.png'), auto;
}


.accordion__radio:hover ~ .accordion__wrapper > .arrow {
    transition: all 1s ease-in-out;
    transform: rotate(-90deg);
}

.accordion__radio:checked ~ .accordion__content .accordion__content_img{
    opacity: 1;
}

.accordion:hover > .accordion__content .accordion__content_img{
    opacity: 1;
}

// .accordion__radio:active ~ .accordion__wrapper {
//     cursor: url('../assets/icons/active-cursor.png'), auto;
// }

// .accordion__radio:not(:checked)  ~ .accordion__content {
//     cursor: url('../assets/icons/active-cursor.png'), auto;
// }






