.wrapper {
    max-width: 95%;
    margin: 0 auto;
}

.header {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: $main-color-text;
}

.accordion {
    display: block;
    font-weight: 300;
    background-color: #ffffff;
    border-radius: 3rem;
    border-bottom: 0.5rem solid $main-color-text;
    cursor: url('../assets/icons/cursor.png'), auto;
}

.accordion__radio {
    display: none;
}

.accordion__name {
    font-size: 2rem;
    width: 100%;
    padding-left: 40px;
}

.accordion__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
    &_img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        max-height: 20vh;
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }
}

.accordion__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    color: $main-color-text;
    transition: color .5s ease-in-out;
}

.accordion__radio:checked ~ .accordion__content {
    max-height: 30vh;
}

.accordion__radio:checked ~ .accordion__wrapper .arrow {
    transform: rotate(-90deg);
}

.accordion__radio:checked ~ .accordion__wrapper {
    color: $main-color-text;
    background-color: $checked-background-color;
    border-radius: 3rem 3rem 0 0;
}

.accordion__radio:checked ~ .accordion__wrapper {
    color: $color-text-not-hover;
}

.accordion__radio:active ~ .accordion__wrapper {
    cursor: url('../assets/icons/active-cursor.png'), auto;
}

.accordion__radio:active ~ .accordion__content {
    opacity: 0.7;
    transition: filter 0.1s ease-in-out;
    cursor: url('../assets/icons/active-cursor.png'), auto;
}

.accordion__radio:checked ~ .accordion__content .accordion__content_img{
    opacity: 1;
}