@import url('libs/normalize.css');
@import url('libs/fonts.css');

@import url('base/arrows.css');

@import url('blocks/accordion.css');
@import url('blocks/media.css');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gotham Pro", sans-serif;
    font-size: 10px;
}

body {
    background-color: rgb(249, 229, 229);
}