@import 'libs/normalize.scss';
@import 'libs/fonts';

@import 'base/arrows';
@import 'base/variables';

@import 'blocks/accordion';
@import 'blocks/media';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gotham Pro', sans-serif;
    font-size: 10px;
}

body {
    background-color: $main-background-color;
}